<%- include("partials/header")%>
  <%- include("partials/navbar")%>
  

        <div class="container" style="max-width: 700px;">
            <div class="card text-michgold text-center mt-2 mb-5">
              <%- include("partials/title")%>

                
                <form action="/inspection/update/<%= data.id %>?_method=PUT" method="post" id="edit-inspection-form">
                 <input type="hidden" name="_method" value="PUT">
                  <div class="m-3 fs-3 mt-0 fw-semibold">
                    <label for="hiveNumber" class="form-label"
                      >Hive Number</label
                    >
                    <input
                      type="number"
                      class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
                      id="hiveNumber"
                      name="hiveNumber"
                      aria-describedby="hiveNumber"
                      value="<%= data.hiveNumber %>"
                    />
                  </div>
                  <div class="m-3 fs-3 mt-0 fw-semibold">
                    <label for="temperament" class="text-center mb-3 fw-semibold fs-3">Temperament</label>
                      <div class="d-flex justify-content-evenly">
                        <input type="radio" class="btn-check" name="temperament" id="dead" value="⚠️ Dead" autocomplete="off"  <%= data.temperament === "⚠️ Dead" ? "checked" : "" %>>
                        <label class="btn temperBtn" for="dead">Dead</label>
                        <input type="radio" class="btn-check" name="temperament" id="calm" value="✓ Calm" autocomplete="off" <%= data.temperament === "✓ Calm" ? "checked" : "" %>>
                        <label class="btn temperBtn" for="calm">Calm</label>
                        <input type="radio" class="btn-check" name="temperament" id="aggressive" value="⚠️ Aggressive" autocomplete="off"  <%= data.temperament === "⚠️ Aggressive" ? "checked" : "" %>>
                        <label class="btn temperBtn" for="aggressive">Aggressive</label>
                        <input type="radio" class="btn-check" name="temperament" id="active" value="✓ Active" autocomplete="off" <%= data.temperament === "✓ Active" ? "checked" : "" %>>
                        <label class="btn temperBtn" for="active">Active</label>
                      </div>
                  </div>

                  <label
                    for="strength"
                    class="form-label my-1 fs-3 fw-semibold">
                    Hive Strength
                  </label>
                    
                  <div class="d-flex justify-content-evenly mb-3">
                    <p class="mt-3" style="flex: 1;">0</p>
                    
                    <input
                      type="range"
                      class="m-3 custom-range bg-michgold"
                      min="0"
                      max="100"
                      id="hiveStrength"
                      name="strength"
                      style="min-width: 60%; flex: 3;"
                    />
                  
                    <div style="flex: 1;">
                      <span id="sliderValue" class="mt-3">50</span>
                    </div>
                  </div>

                  <div class="m-3">
                    <div class=" ps-0 form-check d-flex justify-content-between">
                      <label class=" fs-2 mb-0" for="queen">
                        Queen
                      </label>
                      <input class="form-check-input btn-lg" type="checkbox" value="✓ Queen Spotted" id="queen" name="queen"  <%= data.queen ? 'checked' : '' %>>
                    </div>
                    <div class="ps-0 form-check d-flex justify-content-between mb-2 ">
                      <label class=" fs-2 mb-0" for="queenCell">
                        Queen Cells
                      </label>
                      <input class="form-check-input btn-lg" type="checkbox" value="⚠️ Queen Cells" id="queenCell" name="queenCell"  <%= data.queenCell ? 'checked' : '' %>>
                    </div>
                    <div class="ps-0 form-check d-flex justify-content-between mb-2 ">
                      <label class=" fs-2 mb-0" for="eggs">
                        Eggs
                      </label>
                      <input class="form-check-input btn-lg" type="checkbox" value="✓ Eggs" id="eggs" name="eggs"  <%= data.eggs ? 'checked' : '' %>>
                    </div>
                  </div>

                  <div class="m-3">
                    <select name="brood" id="brood" class="form-select mb-2 text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold" >
                      <option   selected disabled><%= data.brood %></option>
                        <option value="✓ Normal Brood">Normal</option>
                        <option value="✓ Spotty Brood">Spotty</option>
                        <option value="✓ Compact Brood">Compact</option>
                      </select>
                  </div>
                  
                  <div class="m-3">
                    <select name="disease" id="disease" class="form-select mb-2 text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold" >
                        <option   selected disabled><%= data.disease %></option>
                        <option value="No Diseases">No Diseases</option>
                        <option value="⚠️ Varroa Mites">Varroa Mites</option>
                        <option value="⚠️ Chalkbrood">Chalkbrood</option>
                        <option value="⚠️ Stonebrood">Stonebrood</option>
                        <option value="⚠️ American Foulbrood">American Foulbrood</option>
                        <option value="⚠️ European Foulbrood">European Foulbrood</option>
                      </select>
                  </div>
                  
                  <div class="m-3">
                    <select name="pests" id="pests" class="form-select mb-2  text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold" >
                        <option   selected disabled><%= data.pests %></option>
                        <option value="No Pests">No Pests</option>
                        <option value="⚠️ Wax moths">Wax Moths</option>
                        <option value="⚠️ Mice">Mice</option>
                        <option value="⚠️ Hive Beetle">Hive Beetle</option>
                        <option value="⚠️ Ants">Ants</option>
                      </select>
                  </div>
                  <label for="inspectionDate" class="form-label fs-3 fw-semibold mb-3">Date (<%= data.inspectionDate %>)</label>
                  <div class="m-3 fs-3 mt-0 fw-semibold">
                    <input
                      type="date"
                      class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
                      id="inspectionDate"
                      name="inspectionDate"
                      value="<%= data.inspectionDate %>"
                    />
                  </div>
                  <div class="m-3 fs-3 mt-0 fw-semibold">
                    <label for="inspectionNote" class="form-label" rows="2">Notes</label>
                    <textarea class="text-center form-control bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold" 
                    id="inspectionNote" 
                    name="inspectionNote"
                    rows="2"><%= data.inspectionNote %></textarea>
                  </div>
                </form>

              <div class="d-flex justify-content-around mb-3">
                  <button
                      type="submit"
                      form="edit-inspection-form"
                      class="btn px-5 btn-michgold btn-gold fw-bold rounded-pill"
                      >
                      UPDATE
                  </button>
              </div> 
            </div>
        </div>
   
    <%- include("partials/footer")%>
    
    <script>
    initSlider();
    </script>

    </body>
  </html>
