<%- include("partials/header")%>
  <%- include("partials/navbar")%>

  <section>
    <div class="container" style="max-width: 500px">
      <div class="card text-michgold text-center mt-2 mb-5" style="max-width: 90vw">
        <%- include("partials/title")%>

        <!-- Forms -->

        <form action="/harvest/update/<%= data.id %>?_method=PUT" method="post" id="edit-harvest-form">
          <input type="hidden" name="_method" value="PUT">
          <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="harvestType" class="form-label">Harvest Type</label>
            <select name="harvestType" id="harvestType" class="form-select text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold" aria-label="select example">
              <option  value="<%= data.harvestType %>" selected disabled><%= data.harvestType %></option>
                <option value="Honey">Honey</option>
                <option class="" value="Wax">Wax</option>
              </select>
          </div>
            <div class="m-3 fs-3 mt-0 fw-semibold">
              <label for="harvestAmount"
               class="form-label">Amount</label
                >
              <div class="fs-3 fw-semibold mb-3 d-flex justify-content-between">
              <input
                type="number"
                class="form-control fs-5 bg-inputgrey border-3 me-3 text-end border-michgold rounded-4 opacity-50 fw-bold"
                id="harvestAmount"
                name="harvestAmount"
                value="<%= data.harvestAmount %>"
              />
              
              <h2 for="" class=" mt-2">Lbs</h2>
            </div>
          </div>
          <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="harvestDate" class="form-label">Date (<%= data.harvestDate %>)</label>
                <input
                  type="date"
                  class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
                  id="harvestDate"
                  name="harvestDate"
                  value=""
                />
          </div>
        </form>
        <!-- Form end -->

       

      <div
        class="d-flex justify-content-around  mb-3"
      >
       
        <button
          type="submit"
          form="edit-harvest-form"
          class="btn px-5 btn-michgold btn-gold fw-bold rounded-pill"
        >
          UPDATE
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/footer")%>
</body>
