<%- include("partials/header")%>
  <%- include("partials/navbar")%>

  <section>
    <div class="container" style="max-width: 500px">
      <div class="card text-michgold text-center mt-2 mb-5 rounded-4" style="max-width: 90vw">
        <%- include("partials/title")%>

        <!-- Forms -->

        <form action="/settings/update/<%= data.id %>?_method=PUT" method="POST" id="edit-settings-form">
            <input type="hidden" name="_method" value="PUT">
            <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="Apiary Name" class="form-label">Apiary Name</label>
            <input
              type="text"
              class="form-control bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold text-center"
              id="apiaryName"
              name="apiaryName"
              value="<%= data.apiaryName %>"
            />
          </div>
          <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="User Name" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
              id="userName"
              name="userName"
             value="<%= data.userName %>" 
            />
          </div>          
        </form>
        <!-- Form end -->

      <div
        class="d-flex justify-content-around  mb-3"
      >     
      
        <button
          type="submit"
          form="edit-settings-form"
          class="btn px-4 btn-michgold btn-gold fw-bold rounded-pill"
        >
          UPDATE
        </button>
      </div>
    </div>
  </section>
  
  <%- include("partials/footer")%>

</body>
