<%- include("partials/header")%>

<%- include("partials/navbar")%>

  <section>
    <div class="container" style="max-width: 500px">
      <div class="card text-michgold text-center mt-2 mb-5" style="max-width: 90vw">
        <%- include("partials/title")%>

        <!-- Forms -->

          <form action="/feed/update/<%= data.id %>?_method=PUT" method="post" id="edit-feed-form">
            <input type="hidden" name="_method" value="PUT">
            <div class="m-3 fs-3 mt-0 fw-semibold">
              <label for="feeding" class="form-label">Feeding</label>
                <select name="feeding" id="feeding" class="form-select text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold" aria-label="select example">
                  <option   value="<%= data.feeding %>" selected > <%= data.feeding %></option>
                    <option value="fondant">Fondant</option>
                    <option value="sugar">Sugar</option>
                    <option value="pollen patty">Pollen Patty</option>
                    <option value="syrup">Syrup</option>
                  </select>
            </div>
              <div class="m-3 fs-3 mt-0 fw-semibold">
                <label for="feedDate" class="form-label fs-3 fw-semibold my-3">Date</label>
                <input
                  type="date"
                  class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
                  id="feedDate"
                  name="feedDate"
                  value="<%= data.feedDate %>"
                />
              </div>
          </form> 
         
          
        
        <!-- Form end -->

       

      <div
        class="d-flex justify-content-around  mb-3"
      >
        
        <button
          type="submit"
          form="edit-feed-form"
          class="btn px-5 btn-michgold btn-gold fw-bold rounded-pill"
        >
          UPDATE
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/footer")%>

</body>
