<%- include("partials/header")%>
  <%- include("partials/navbar")%>
  <section>
    <div class="container" style="max-width: 500px">
      <div class="card text-michgold text-center mt-2 mb-5" style="max-width: 90vw">
        <%- include("partials/title")%>

        <!-- Forms -->

        <form action="/inventory/update/<%= data.id %>?_method=PUT" method="post" id="edit-inventory-form">
          <input type="hidden" name="_method" value="PUT">
          <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="inventoryType" class="form-label"><%= data.inventoryType %></label>
            <input
              type="text"
              class="form-control bg-inputgrey border-3 text-center border-michgold rounded-4 opacity-50 fw-bold"
              id="inventoryType"
              name="inventoryType"
              value="<%= data.inventoryType %>"
            />
          </div>
          <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="inventoryAmount" class="form-label">Quantity</label>
            <input
              type="number"
              class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
              id="inventoryAmount"
              name="inventoryAmount"
              value="<%= data.inventoryAmount %>"
            />
          </div>
          
          
        </form>
        <!-- Form end -->

       

      <div
        class="d-flex justify-content-around  mb-3"
      >
       
        <button
          type="submit"
          form="edit-inventory-form"
          class="btn px-5 btn-michgold btn-gold fw-bold rounded-pill"
        >
          ADD
        </button>
      </div>
    </div>
  </section>
  <%- include("partials/footer")%>

</body>
