<%- include("partials/header")%>
    <body>
      <!-- Nav Bar -->
      <%- include("partials/navbar")%>

    <div class="container text-center text-michgold ">

      <H1 class="text-center text-white  outlined-text display-1 fw-bold sticky-top">Harvest</H1>
      <h5 class="card-title">November 13 - 2023</h5>
        <div class="d-flex justify-content-around mt-4">
            <p class="card-text">📍 Fenton MI</p>
            <p class="card-text">56℉ 🌤️</p>
        </div>
        <!-- Inventory Card -->
      <div class="row row-cols-1 row-cols-lg-3 g-2">
      <%- include("partials/new-harvest-card")%>
      <%- include("partials/new-harvest-card")%>
   
      <div class="col">
        <div class="container px-2" style="max-width: 500px">
          <div class="card text-michgold border-michgold rounded-5 border-3">
            <div class="fw-bold text-center fs-5 p-2">11/12/2023</div>
            <div class="card-body pb-2 mx-2 mb-3 d-flex fs-3 justify-content-between">
              <div>
                <svg fill="#ffcb05" height="64px" width="64px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 188.522 188.522" xml:space="preserve">

                  <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                  
                  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                  
                  <g id="SVGRepo_iconCarrier"> <path d="M160.159,187.587h-52.728c-0.715,0-1.375-0.381-1.732-1l-25.786-44.663h-51.55c-0.714,0-1.375-0.381-1.732-1L0.268,95.261 c-0.357-0.619-0.357-1.381,0-2l26.363-45.663c0.357-0.619,1.018-1,1.732-1h51.55l25.786-44.663c0.357-0.619,1.018-1,1.732-1h52.728 c0.715,0,1.375,0.381,1.732,1l26.363,45.663c0.356,0.619,0.356,1.381,0,2l-25.786,44.663l25.786,44.663c0.356,0.619,0.356,1.381,0,2 l-26.363,45.663C161.534,187.205,160.874,187.587,160.159,187.587z M108.585,183.587h50.419l25.208-43.663l-25.208-43.663h-50.396 l-25.219,43.683L108.585,183.587z M29.518,137.924h50.395l25.208-43.663L79.913,50.598H29.518L4.31,94.261L29.518,137.924z M108.608,92.261h50.396l25.208-43.663L159.004,4.935h-50.419L83.389,48.578L108.608,92.261z M113.874,176.038 c-0.691,0-1.363-0.359-1.734-1l-19.923-34.508c-0.357-0.619-0.357-1.381,0-2l19.923-34.509c0.553-0.956,1.772-1.286,2.732-0.732 c0.957,0.552,1.284,1.775,0.732,2.732l-19.347,33.509l19.347,33.508c0.552,0.957,0.225,2.18-0.732,2.732 C114.557,175.952,114.212,176.038,113.874,176.038z M34.492,131.313c-0.691,0-1.363-0.359-1.734-1L12.52,95.261 c-0.357-0.619-0.357-1.381,0-2l20.238-35.052c0.357-0.619,1.018-1,1.732-1h40.475c1.104,0,2,0.896,2,2s-0.896,2-2,2h-39.32 L16.562,94.261l19.66,34.052c0.552,0.957,0.225,2.18-0.732,2.732C35.175,131.227,34.831,131.313,34.492,131.313z M93.946,50.599 c-0.339,0-0.683-0.086-0.998-0.269c-0.957-0.552-1.284-1.775-0.732-2.732l19.923-34.509c0.357-0.619,1.018-1,1.732-1h39.847 c1.104,0,2,0.896,2,2s-0.896,2-2,2h-38.692L95.68,49.598C95.31,50.24,94.637,50.599,93.946,50.599z"/> </g>
                  
                  </svg>
                <span class="ms-2"> Wax</span>
              </div>
              <div class="mt-3">+ 20 lbs</div>
            </div>
          </div>
        </div>
      </div>
      
      </div> 
      
      <!-- Inventory Card End-->
      
      <div class="fixedBtn" >
        <button
        type="button"
        class="btn btn-lg px-4  btn-michgold btn-gold rounded-pill "
        style="
        position: fixed;
        left: 60%;
        top: 80%;
      ">
        ADD ITEM
        </button>
      </div>
    </div>
  
      <%- include("partials/footer")%>
    </body>
  </html>
