<%- include("partials/header")%>
  <%- include("partials/navbar")%>
      <div class="header-image text-center text-michgold border-bottom border-3 border-michgold mb-2">
        <%- include("partials/title")%>
      </div>
          <div class="container text-center text-michgold">
            <div class="row row-cols-1 row-cols-lg-3 g-2">
              <!-- insert cards here -->
              <% data.forEach((hive) => {%>
              <div class="col gy-4">
                <div class="container px-2 pop" style="max-width: 500px">
                  <div class="card text-michgold border-michgold rounded-5 border-3">
                    <div class="card-header fs-4 fw-bold text-center pb-0">Hive # <%= hive.hiveNumber %></div>
                    <div class="card-header fs-6 fw-bold text-center pb-0"><%= hive.breed %></div>
                    <div
                      class="card-body pb-2 pt-1 mt-0 m-1 mb-2 d-flex fw-semibold fs-5 
                      justify-content-between align-items-baseline"
                    >
                      <div>Added: </div>
                      <div ><%= hive.hiveDate %></div>
                    
                      <div><%= hive.hiveStrength %>%</div>
                    </div>
                    <!-- Fixed here and on Index.js -->
                    <div class="d-flex justify-content-between mx-3 mb-2">
                      <form action="/hive/delete/<%= hive.id %>?_method=DELETE" method="post">
                        <input type="hidden" name="_method"
                        value="DELETE">
                        <input type="submit" value="DELETE" name="" id="" class="btn rounded-5 btn-outline-danger">
                      </form>
                      <a
                        href="/hive/edit/<%= hive.id %>"
                        class="btn btn-outline-warning rounded-5 px-4"
                        style="max-width: 30vw"
                        >EDIT</a
                      >


                    </div>
                  </div>
                </div>
              </div>
              <% }) %>

              <!-- cards end -->
            </div> 
                     
              <div class="fixedBtn" >
                <a
                href="hive-form"
                type="button"
                class="btn btn-lg px-4  btn-michgold btn-gold rounded-pill "
                style="
                position: fixed;
                left: 40%;
                top: 78%;
              ">
                ADD
                </a>
              
              </div>
            </div>
    
            <%- include("partials/footer")%>
          </body>
        </html>