<%- include("partials/header")%>
    <%- include("partials/navbar")%>
    <section>
        <H1 class="text-center text-white display-1 fw-bold">Inspections</H1>
        <div class="container">
            <div class="row row-cols-1 row-cols-lg-3 g-2">
                
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                    <%- include("partials/inspection-card")%>
                  
                
            </div>
        </div>
        
        
        
</section>
    <%- include("partials/footer")%>
    </body>
  </html>
