<%- include("partials/header")%>
  <%- include("partials/navbar")%>

  <section>
    <div class="container" style="max-width: 700px">
      <div class="card text-michgold text-center mt-2 mb-5" >
        <%- include("partials/title")%>

        <!-- Forms -->

        <form action="/user/update/<%= locals.user.id %>?_method=PUT" method="post" id="settings-form">
          <input type="hidden" name="_method" value="PUT">
          
            <div class="m-3 fs-3 mt-0 fw-semibold">
              <label for="Apiary Name" 
              class="form-label">Apiary Name</label>
              <div class="fs-3 fw-semibold mb-3 d-flex justify-content-between">
              <input
                type="text"
                class="form-control fs-5 bg-inputgrey border-3 me-3 text-end border-michgold rounded-4 opacity-50 fw-bold"
                id="apiaryName"
                name="apiaryName"
                value="<%=locals.user.apiaryName%>"
              />
              <p class="mt-3">Apiary</p>
            </div>
            </div>
          
          <div class="m-3 fs-3 mt-0 fw-semibold">
            <label for="User Name" class="form-label">User Name</label>
            <input
              type="text"
              class="form-control text-center bg-inputgrey border-3 border-michgold rounded-4 opacity-50 fw-bold"
              id="userName"
              name="userName"
              value="<%=locals.user.userName%>"
            />
          </div>          
        </form>
        <!-- Form end -->

      <div
        class="d-flex justify-content-around  mb-3"
      >   
        
        <button
          type="submit"
          form="settings-form"
          class="btn px-4 btn-michgold btn-gold fw-bold rounded-pill"
        >
          UPDATE
        </button>
      </div>
    </div>
  </section>
  
  <%- include("partials/footer")%>

</body>
