<%- include("partials/header")%>
  <%- include("partials/navbar")%>

    <div class="container text-center text-michgold ">

      <%- include("partials/title")%>

        <!-- Treatment Card -->
      <div class="row row-cols-1 row-cols-lg-3 g-2">

      <% data.forEach((treatment) => {%>
      <div class="col">
        <div class="container px-2">
          <div class="card text-michgold border-michgold rounded-5 border-3">
            <div class="card-body d-flex mx-2 fs-4 justify-content-between">
              <div class="text-michgold">
                <svg
                  fill="#FFCB05"
                  width="32px"
                  height="32px"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                  stroke="#FFCB05"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0" />
      
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
      
                  <g id="SVGRepo_iconCarrier">
                    <g id="Medical_Cross" data-name="Medical Cross">
                      <path
                        d="M12.943,20.93H11.057a2.388,2.388,0,0,1-2.386-2.386V15.3l-3.215.029a2.39,2.39,0,0,1-2.387-2.386V11.057A2.39,2.39,0,0,1,5.456,8.67H8.7L8.671,5.456A2.388,2.388,0,0,1,11.057,3.07h1.886a2.388,2.388,0,0,1,2.386,2.386V8.7l3.215-.03a2.39,2.39,0,0,1,2.387,2.387v1.886a2.39,2.39,0,0,1-2.387,2.386H15.3l.028,3.215A2.388,2.388,0,0,1,12.943,20.93ZM5.456,9.67a1.388,1.388,0,0,0-1.387,1.387v1.886a1.388,1.388,0,0,0,1.387,1.386H8.7a.972.972,0,0,1,.972.971v3.244a1.388,1.388,0,0,0,1.386,1.386h1.886a1.388,1.388,0,0,0,1.386-1.386V15.3a.972.972,0,0,1,.972-.971h3.243a1.388,1.388,0,0,0,1.387-1.386V11.057A1.388,1.388,0,0,0,18.544,9.67H15.3a.972.972,0,0,1-.972-.97V5.456A1.388,1.388,0,0,0,12.943,4.07H11.057A1.388,1.388,0,0,0,9.671,5.456V8.7a.972.972,0,0,1-.972.97Z"
                      />
                    </g>
                  </g>
                </svg>
                <span class="ms-3">
                    HIVE # <%= treatment.hiveNumber %>
                </span>
              </div>
              <div>
                <span class="me-3 fs-5">
                 <%= treatment.treatmentDate %> </span
                ><svg
                  width="32px"
                  height="32px"
                  viewBox="0 0 24 24"
                  fill="#ffcb05"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g id="SVGRepo_bgCarrier" stroke-width="0" />
      
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke="#ffcb05"
                    stroke-width="0.048"
                  />
      
                  <g id="SVGRepo_iconCarrier">
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M17.25 14.8125V10.4375C17.25 7.75125 15.8237 5.5025 13.3125 4.9075V4.3125C13.3125 3.58625 12.7263 3 12 3C11.2737 3 10.6875 3.58625 10.6875 4.3125V4.9075C8.185 5.5025 6.75 7.7425 6.75 10.4375V14.8125L5 16.5625V17.4375H19V16.5625L17.25 14.8125ZM12 20.0625C12.9625 20.0625 13.75 19.275 13.75 18.3125H10.25C10.25 19.275 11.0375 20.0625 12 20.0625ZM8.5 15.6875H15.5V10.4375C15.5 8.2675 14.1788 6.5 12 6.5C9.82125 6.5 8.5 8.2675 8.5 10.4375V15.6875Z"
                      fill="#ffcb05"
                    />
                  </g>
                </svg>
              </div>
            </div>
            <div class="d-flex justify-content-around">
              <h3><%= treatment.treatment %></h3>
            </div>
            <div class="d-flex justify-content-between mx-3 mb-2">
              <form action="/treatment/delete/<%= treatment.id %>?_method=DELETE" method="post">
                <input type="hidden" name="_method"
                value="DELETE">
                <input type="submit" value="DELETE" name="" id="" class="btn rounded-5 btn-outline-danger">
              </form>
              <a
                href="/treatment/edit/<%= treatment.id %>"
                class="btn btn-outline-warning rounded-5 px-4"
                style="max-width: 30vw"
                >EDIT</a
              >
            </div>
          </div>
        </div>
      </div>
      <% }) %>    
      </div> 
      
      <!-- Treatment Card End-->
      
      <div class="fixedBtn" >
        <a
        href="treatment-form"
        type="button"
        class="btn btn-lg px-4  btn-michgold btn-gold rounded-pill "
        style="
        position: fixed;
        left: 40%;
        top: 78%;
      ">
        ADD
        </a>
      </div>
    </div>
  
      <%- include("partials/footer")%>
  
    </body>
  </html>
